{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('form') }}
{% endblock %}
{% block body %}
    <div class="formContainer">
    <div class="form">
        <div class="card p-4">
            {{ form_start(documentForm) }}
            {{ form_row(documentForm.title_document, {
                label: 'Titre'
            }) }}
            {{ form_row(documentForm.text, {
                label: 'Texte du document'
            }) }}
            <button></button>
            {{ form_end(documentForm) }}
        </div>
    </div>
</div>
{% endblock %}